* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.banner {
    background-color: #1C1E53;
    padding-bottom: 128px;
    padding-top: 20px;
}

.nav-item a {
    font-size: 16px;
    color: #BBBBCB;
    font-weight: 500;
    margin-right: 15px;
}

.nav-con-btn {
    padding: 16px 40px;
    border-radius: 40px;
    border: 1px solid #F4F6FC;
    font-size: 16px;
    font-weight: 500;
    background-color: #1C1E53;
    color: #ffff;
}


.banner-contant {
    margin-top: 150px;
}

.mob {
    display: none;
}

.regular-img {
    display: block;
}


.banner-contant h1 {
    color: #ffff;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}

.banner-contant p {
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
    opacity: 0.7
}

.banner-contant a {
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 15px;
    margin-left: 40px;
}

.banner-contant button {
    padding: 16px 56px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: #FCD980;
}


/* ---------how it work------ */



.how-it-work {
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: #F4F6FC;
}


.work-main h4 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

.work-main p {
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 14px;
    opacity: 0.7
}

.left-part a {
    font-weight: 600;
    color: #2405F2;
}


.right-part .str {
    font-size: 32px;
    color: black !important;
    font-weight: 500;
}



/* ---------Our project------ */



.our-project {
    padding-top: 128px;
    padding-bottom: 128px;
}

.left h4 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

.view-more a {
    color: black;
}

.image-part {
    margin-top: 50px;
}

.pic-three {
    margin-left: 9px;
    margin-top: 32px;
}




/* ---------design product------ */


.design-product {
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: #F4F6FC;
}

.head-text h4 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
}

.head-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

.design-inner {
    margin-top: 70px;
}

.design-inner .cart {
    padding: 44px;
    background-color: #FFFFFF;
    margin-top: 20px;
}

.design-inner .cart .short-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
    margin-top: 22px;
}





/* ---------review product------ */


.client {

    padding-top: 128px;
    padding-bottom: 128px;
    background-color: #f8fbfe;

}

.left h5 {
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

.right .pera {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}

.client-img {
    border-radius: 50%;
}

.p-p {
    margin-top: -14px;
    font-size: 13px;
}


.arrow-icon {
    height: 40px;
    margin-top: 20px;
}




/* ---------FAQ------ */


.FAQ {
    padding-top: 128px;
    padding-bottom: 128px;
}


/* --------- Building from part------ */




.left-part-b {
    background-image: url("./images/home/woman-writing-on-paper-3228878.png");
    background-repeat: no-repeat;
    height: 619px;

}

.left-part-b .overlay {
    background-color: rgba(28, 30, 83, 0.5);
    height: 619px;
    padding: 96px 96px 0px 96px;
}


.left-part-b .overlay h3 {
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: #FFFFFF;
}

.left-part-b .overlay p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    color: #FFFFFF;
}


.right-part-b {
    background: #1C1E53;
    height: 619px;
    padding: 96px 96px 0px 96px !important;
    margin-left: -4px;
}

.right-part-b h4 {
    color: #ffff;
}

.right-part-b p {
    color: #ffff;
}

.right-part-b .inputfield {
    width: 432px;
    height: 64px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    background-color: #1C1E53;
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
}

.right-part-b .send-btn {
    padding: 16px 155px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: #FCD980;
    margin-top: 30px;
}

.get {
    text-align: center;
    color: #FFFFFF;
}


/* --------- Blog  part------ */


.blog {
    padding-top: 128px;
    padding-bottom: 128px;
}

.blog-heading h4 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

.blog-date {
    color: #282938;
    opacity: 0.7;
    margin-top: 30px;
}

.blog-info h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}




/* ----------footer part------ */

.footer {
    background: #1C1E53;
    padding-top: 128px;
}

.footer-left-part p {
    color: #FFFFFF;
    margin-top: 30px;
}

.contact-info {
    background: #FCD980;
    padding: 20px 0px 0px 20px;
}

.footer-right-part h4 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
}

.footer-right-part p {
    color: #FFFFFF;
}




.footer-bottom {
    background-color: #ffffff;
    padding: 42px 0px 20px 0px;
}


.footer-bottom p {
    padding: 0;
    line-height: 0;
}






@media(max-width: 575.98px) {

    .mob {
        display: block;
    }

    .mob-img {
        width: 100%;
    }

    .regular-img {
        display: none;
    }

    .banner-contant h1 {
        font-size: 44px;
        line-height: 64px;
        margin-top: 50px;
    }

    .banner-contant button {
        padding: 10px 36px;
        font-size: 14px;
    }

    .banner-contant a {
        font-size: 14px;
        margin-top: 8px;
        margin-left: 20px;
    }



    /* ---------how it work------ */



    .right-part {
        margin-top: 80px;
    }

    .res-mob {
        margin-top: 48px;
    }




    /* ---------Our project------ */

    .left h4 {
        font-size: 38px;
        font-weight: 600;
        line-height: 44px;
    }

    .view-more {
        margin-top: 20px;
    }

    .pic-one img {
        width: 100%;
    }

    .pic-two img {
        margin-left: 0px;
        margin-top: 32px;
        width: 100%;
    }

    .pic-three {
        width: 100% !important;
        margin-left: 0px
    }

    .pic-three img {
        margin-top: 22px !important;
        width: 100%;
        margin-left: 0px !important;
    }









    /* ---------design product------ */


    .head-text h4 {
        font-size: 38px;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
    }




    /* ---------review product------ */



    .arrow-icon {
        height: 30px;
        margin-top: 15px;
    }


    .right .pera {
        margin-top: 50px;
    }



    /* ---------FAQ------ */

    .accor {
        margin-top: 40px;
    }

    /* --------- Building from part------ */


    .right-part-b {
        background: #1C1E53;
        height: 619px;
        padding: 96px 20px 0px 20px !important;
        margin-left: 0px;
    }


    .right-part-b .inputfield {
        width: 100%;
        height: 60px;

    }

    .right-part-b .send-btn {
        padding: 16px 110px;
        font-size: 14px;
        justify-content: center;
        width: 100%;
    }


    .left-part-b .overlay {
        background-color: rgba(28, 30, 83, 0.5);
        height: 619px;
        padding: 76px 20px 0px 20px !important;
    }



    /* --------- Blog  part------ */

    .blog-heading h4 {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: -50px;
    }

    .blog-info img {
        width: 100%;
    }

    .blog-info {
        margin-top: 50px;
    }




    /* --------footer------- */


    .contact-info {
        background: #FCD980;
        padding: 20px 0px 0px 20px;
        width: 92%;
    }

    .footer-bottom p {
        text-align: center;
    }




}


@media(min-width:576px) and (max-width:767.98px) {}